* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div	{
	display:inline-block;
}
.fcon {
	background-color: grey;
	height: 100%;
	width: 200px;
	position: fixed;
}
main{
	padding-left: 200px;
}
.home {
	background-color: skyblue;
	min-height: 500px;
	position: relative;
}
.about {
	background-color: orange;
	min-height: 300px;
}
.services {
	background-color: blue;
	min-height: 300px;
}
.projects {
	background-color: red;
	min-height: 300px;
}
.gallery {
	background-color: gold;
	min-height: 300px;
}
footer {
	background-color: green;
	min-height: 50px;
}
.avatar {
	background-color: white;
	height: 150px;
	width: 150px;
}
.fcon,
.home,
.about,
.services,
.projects,
.gallery,
footer,
.avatar {
	padding: 25px;
}
ul > li {
	display: block;
	margin-top: 10px;
	line-height: 40px;
	list-style: none;
	width: 150px;
	background-color: skyblue;
}
li a {
	text-decoration: none;
}
nav {
	text-align: center;
	font-size: 12px
}
.box1 {
	text-align: center;
	border: 5px solid white;
	width: 40%;
	padding: 40px;
	position: absolute;
	top : 50%; 
	left: 50%;
	transform: translate(-50%, -50%); /*center*/
}
.column {
	padding: 15px;	
	border: 1px solid black;	
	width: 31%;
	margin: 10px;
	display: inline-block;
}
/*
.clear:after {
	content: "";
	display: block;
	clear: both;
}*/
img[alt*=Service] {
	border: 1px solid white;
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
}
img[alt*="Services"] ~ h3 {
	margin-bottom: 10px;
}
img[alt*=Service] ~ p {
	overflow: hidden; /*because of float above*/
}
.gallery > .column {
	width: 22%;
	margin: 0 1%;
	border-color: black;
}
img[alt*=Gallery] {
	border: 1px solid black;
	width: 100%;
	height: 100px;
	display: block;
}
img[alt*=Social] {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	display: block;
	float: left;
	margin-right: 10px;
}
.contact {
	float: right;
}

/*general rules*/
.page,
.section {
	width: 100%;
}
.section {
	height: 300px;
}
.fcon {
	background-color: grey;
	height: 80px;
}
.home {
	background-color: skyblue;
}
.about {
	background-color: orange;
}
.services {
	background-color: blue;
}
.project {
	background-color: red;
}
.gallery {
	background-color: gold;
}
footer {
	background-color: green;
}
/*mobile*/
@media only screen and (max-width: 400px) {
	body {
		background-color: green;
	}
}
/*tablet*/
/*@media only screen and (min-width: 401px) and (max-width: 960px) {
	body {
		background-color: yellow;
	}
	.signup,
	.feature1,
	.feature2,
	.feature3 {
		width: 50%;
		float: left;
	}
}
/*laptop/desktop*/
/*@media only screen and (min-width: 961px) {
	body {
		background-color: red;
	}
	.page {
		width: 960px;
		margin: 0 auto;
	}
	.feature1,
	.feature2,
	.feature3 {
		width: 33.33%;
		float: left;
	}
	.header {
		height: 400px;
	}
}*/